    <div class="login-box">
      <img src="../../assets/img/logo.png" class="avatar" alt="Avatar Image">
      <h1>INGRESE SUS DATOS</h1>
      <form ngNativeValidate #f="ngForm" action="" id="formlg" (ngSubmit)= "ingresar( f )">
        <!-- USERNAME INPUT -->
        <input [ngModel]="user" name="user" type="text" required placeholder="Usuario">
        <!-- PASSWORD INPUT -->
        <input ngModel name="password" type="password"  required placeholder="Contraseña">
        <!-- <input ngModel name="rol" type="text"  required placeholder="Rol"> -->
        <select ngModel name="rol" required>
        <option>Estudiante</option>
        <option>Docente</option>
        <option >Administrador</option>
      </select>

        <button type="submit" class="btn btn-primary">INGRESAR</button> 
      </form>
    </div>