    <div class="login-box">
      <img src="../../assets/img/logo.png" class="avatar" alt="Avatar Image">
      <h1>INGRESE SUS DATOS</h1>
      <form ngNativeValidate #f="ngForm" action="" id="formlg" (ngSubmit)= "ingresar( f )">
        <!-- USERNAME INPUT -->
        <input [ngModel]="user" name="user" type="text" required placeholder="Usuario">
        <!-- PASSWORD INPUT -->
        <input ngModel name="password" type="password"  required placeholder="Contraseña">
        <div class="form-group row">
          <div class="col-12">
            <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox" id="checkbox-signup">
            <label for="checkbox-signup">Recuérdame</label>  
          </div>
        </div>
        <button type="submit" class="btn btn-primary">INGRESAR</button> 
      </form>
    </div>