<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li>
                    <a href="#primero" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Primer Semestre</a>
                    <ul class="collapse list-unstyled" id="primero">
                        <li><a >Calculo I</a></li>
                        <li><a href="">Algebra Lineal</a></li>
                        <li><a href="">Programación I</a></li>
                        <li><a href="">Fund. de la Informática</a></li>
                        <li><a href="">Ingles I</a></li>
                        <li><a href="">Sistema Contables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#segundo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Segundo Semestre</a>
                    <ul class="collapse list-unstyled" id="segundo">
                        <li><a href="">Calculo II</a></li>
                        <li><a href="">Fisica I</a></li>
                        <li><a href="">Programacion II</a></li>
                        <li><a href="">Introducción a los Sistemas Operativos</a></li>
                        <li><a href="">Ingles II</a></li>
                        <li><a href="">Estadistica Descriptiva</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#tercero" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tercer Semestre</a>
                    <ul class="collapse list-unstyled" id="tercero">
                        <li><a href="">Calculo III</a></li>
                        <li><a href="">Fisica II</a></li>
                        <li><a href="">Progrmación III</a></li>
                        <li><a href="">Teoria de Automatas y Lenguajes Formal</a></li>
                        <li><a href="">Teoria de Probabilidades</a></li>
                        <li><a href="">Combinatoria y Teoria de Grafos</a></li>
                        <li><a href="">Liderazgo Empresarial</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#cuarto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cuarto Semestre</a>
                    <ul class="collapse list-unstyled" id="cuarto">
                        <li><a href="">Calculo IV</a></li>
                        <li><a href="">Teoría de la Comunicación y Señales</a></li>
                        <li><a href="">Análisis Numerico</a></li>
                        <li><a href="">Administraciones de las Organizaciones</a></li>
                        <li><a href="">Arquitectura de Computadoras</a></li>
                        <li><a href="">Programación IV</a></li>
                        <li><a href="">Metodología de la investigación</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#quinto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quinto Semestre</a>
                    <ul class="collapse list-unstyled" id="quinto">
                        <li><a href="">Base de Datos I</a></li>
                        <li><a href="">Analisis de Sistemas I</a></li>
                        <li><a href="">Investigación Operativa I</a></li>
                        <li><a href="">Redes I</a></li>
                        <li><a href="">Economía General</a></li>
                        <li><a href="">Taller I</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#sexto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sexto Semestre</a>
                    <ul class="collapse list-unstyled" id="sexto">
                        <li><a href="">Preparación y Evaluación de Proyectos</a></li>
                        <li><a href="">Redes II</a></li>
                        <li><a href="">Base de Datos II</a></li>
                        <li><a href="">Analisis de Sistemas II</a></li>
                        <li><a href="">Investigación Operativa II</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Séptimo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Séptimo Semestre</a>
                    <ul class="collapse list-unstyled" id="Séptimo">
                        <li><a href="">Redes III</a></li>
                        <li><a href="">Base de Datos III</a></li>
                        <li><a href="">Ingeniería de Software I</a></li>
                        <li><a href="">Tecnología Multimedia</a></li>
                        <li><a href="">Taller II</a></li>
                        <li><a href="">Optativa I</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Octavo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Octavo Semestre</a>
                    <ul class="collapse list-unstyled" id="Octavo">
                        <li><a href="">Inteligencia Artificial</a></li>
                        <li><a href="">Ingeniería de Software II</a></li>
                        <li><a href="">Tecnología de Programación en Red</a></li>
                        <li><a href="">Laboratorio de Seguridad en Redes</a></li>
                        <li><a href="">Optativa II</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Noveno" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Noveno Semestre</a>
                    <ul class="collapse list-unstyled" id="Noveno">
                        <li><a href="">Robotica</a></li>
                        <li><a href="">Transmisión de voz y video</a></li>
                        <li><a href="">Legislación</a></li>
                        <li><a href="">Taller III</a></li>
                        <li><a href="">Optativa III</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Décimo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Décimo Semestre</a>
                    <ul class="collapse list-unstyled" id="Décimo">
                        <li><a href="">Auditoría Informática</a></li>
                        <li><a href="">Optativa IV</a></li>
                    </ul>
                </li>
            </ul>
      
        </nav>
</div>
    <div class="overlay"></div>
