<div class="wrapper">
     <!-- Page Content  -->
        <nav>
          <div class="row justify-content-between">
         <div class="col-2 ml-2">
              <button type="button" id="sidebarCollapse" class="btn btn-info">Informacion</button>
              </div>
              <div class="col-3">
            <button type="button"class="btn btn-outline-info mr-3" >Inicio</button>
              <button type="button"class="btn btn-outline-info mr-3">Usuarios</button>
              <button type="button"class="btn btn-outline-info mr-3">Salir</button>
          </div>
         
        </div> 
        </nav>



        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Semestres</p>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

       
    </div>