
<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="contenedor">
            <div id="dismiss">
                <i class="fas fa-backspace"></i>
            </div>
            
            </div>
            <ul class="list-unstyled components">
                <p style="text-align: center;  ">SEMESTRES</p>
                <hr style="background: white">
                <li>
                    <a href="#primero" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Primer Semestre</a>
                    <ul class="collapse list-unstyled" id="primero">
                        <li><a routerLink="/home/calculo"><i class="fas fa-infinity mr-2"></i>Calculo I</a></li>
                        <li><a routerLink="/home/algebra"><i class="fas fa-calculator mr-2"></i>Algebra Lineal</a></li>
                        <li><a routerLink="/home/progra"><i class="fas fa-project-diagram mr-2"></i>Programación I</a></li>
                        <li><a routerLink="/home/fundamento"><i class="fas fa-desktop mr-2"></i>Fundamento de la <span class="ml-4">Informática</span></a></li>
                        <li><a routerLink="/home/ingles"><i class="fab fa-accusoft mr-2"></i>Ingles I</a></li>
                        <li><a routerLink="/home/contable"><i class="fas fa-balance-scale mr-2"></i>Sistema Contables</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#segundo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Segundo Semestre</a>
                    <ul class="collapse list-unstyled" id="segundo">
                        <li><a href=""><i class="fas fa-infinity mr-2"></i>Calculo II</a></li>
                        <li><a href=""><i class="fas fa-car-battery mr-2"></i>Fisica I</a></li>
                        <li><a href=""><i class="fas fa-keyboard mr-2"></i>Programacion II</a></li>
                        <li><a href=""><i class="fas fa-desktop mr-2"></i>Introducción a los Sistemas <span class="ml-4">Operativos</span></a></li>
                        <li><a href=""><i class="fab fa-accusoft mr-2"></i>Ingles II</a></li>
                        <li><a href=""><i class="fas fa-calculator mr-2"></i>Estadistica Descriptiva</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#tercero" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Tercer Semestre</a>
                    <ul class="collapse list-unstyled" id="tercero">
                        <li><a href=""><i class="fas fa-infinity mr-2"></i>Calculo III</a></li>
                        <li><a href=""><i class="fas fa-car-battery mr-2"></i>Fisica II</a></li>
                        <li><a href=""><i class="fas fa-keyboard mr-2"></i>Progrmación III</a></li>
                        <li><a href=""><i class="fas fa-code-branch mr-2"></i>Teoria de Automatas y <span class="ml-4">Lenguajes Formal</span></a></li>
                        <li><a href=""><i class="fas fa-calculator mr-2"></i>Teoria de Probabilidades</a></li>
                        <li><a href=""><i class="fas fa-calculator mr-2"></i>Combinatoria y Teoria de <span class="ml-4">Grafos</span></a></li>
                        <li><a href=""><i class="fas fa-id-card-alt mr-2"></i>Liderazgo Empresarial</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#cuarto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Cuarto Semestre</a>
                    <ul class="collapse list-unstyled" id="cuarto">
                        <li><a href=""><i class="fas fa-infinity mr-2"></i>Calculo IV</a></li>
                        <li><a href=""><i class="fas fa-broadcast-tower mr-2"></i>Teoría de la Comunicación y <span class="ml-4">Señales</span></a></li>
                        <li><a href=""><i class="fas fa-not-equal mr-2"></i>Análisis Numerico</a></li>
                        <li><a href=""><i class="fas fa-id-card-alt mr-2"></i>Administraciones de las <span class="ml-4">Organizaciones</span></a></li>
                        <li><a href=""><i class="fas fa-microchip mr-2"></i>Arquitectura de <span class="ml-4">Computadoras</span></a></li>
                        <li><a href=""><i class="fas fa-project-diagram mr-2"></i>Programación IV</a></li>
                        <li><a href=""><i class="fas fa-atlas mr-2"></i>Metodología de la <span class="ml-4">investigación</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#quinto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Quinto Semestre</a>
                    <ul class="collapse list-unstyled" id="quinto">
                        <li><a href=""><i class="fas fa-database mr-2"></i>Base de Datos I</a></li>
                        <li><a href=""><i class="fas fa-shield-alt mr-2"></i>Analisis de Sistemas I</a></li>
                        <li><a href=""><i class="fas fa-object-group mr-2"></i>Investigación Operativa I</a></li>
                        <li><a href=""><i class="fab fa-connectdevelop mr-2"></i>Redes I</a></li>
                        <li><a href=""><i class="fas fa-clipboard-list mr-2"></i>Economía General</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller I</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#sexto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Sexto Semestre</a>
                    <ul class="collapse list-unstyled" id="sexto">
                        <li><a href=""><i class="fas fa-chart-line mr-2"></i>Preparación y Evaluación de <span class="ml-4">Proyectos</span></a></li>
                        <li><a href=""><i class="fab fa-connectdevelop mr-2"></i>Redes II</a></li>
                        <li><a href=""><i class="fas fa-database mr-2"></i>Base de Datos II</a></li>
                        <li><a href=""><i class="fas fa-shield-alt mr-2"></i>Analisis de Sistemas II</a></li>
                        <li><a href=""><i class="fas fa-object-group mr-2"></i>Investigación Operativa II</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller I</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Séptimo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Séptimo Semestre</a>
                    <ul class="collapse list-unstyled" id="Séptimo">
                        <li><a href=""><i class="fab fa-connectdevelop mr-2"></i>Redes III</a></li>
                        <li><a href=""><i class="fas fa-database mr-2"></i>Base de Datos III</a></li>
                        <li><a href=""><i class="fas fa-book-reader mr-2"></i>Ingeniería de Software I</a></li>
                        <li><a href=""><i class="fas fa-camera mr-2"></i>Tecnología Multimedia</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller II</a></li>
                        <li><a href=""><i class="fas fa-chalkboard-teacher mr-2"></i>Optativa I</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Octavo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Octavo Semestre</a>
                    <ul class="collapse list-unstyled" id="Octavo">
                        <li><a href=""><i class="fab fa-keycdn mr-2"></i>Inteligencia Artificial</a></li>
                        <li><a href=""><i class="fas fa-book-reader mr-2"></i>Ingeniería de Software II</a></li>
                        <li><a href=""><i class="fas fa-rss-square mr-2"></i>Tecnología de Programación <span class="ml-4">en Red</span></a></li>
                        <li><a href=""><i class="fas fa-user-secret mr-2"></i>Laboratorio de Seguridad en <span class="ml-4">Redes</span></a></li>
                        <li><a href=""><i class="fas fa-chalkboard-teacher mr-2"></i>Optativa II</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller II</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#Noveno" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Noveno Semestre</a>
                    <ul class="collapse list-unstyled" id="Noveno">
                        <li><a href=""><i class="fas fa-robot mr-2"></i>Robotica</a></li>
                        <li><a href=""><i class="fas fa-broadcast-tower mr-2"></i>Transmisión de voz y video</a></li>
                        <li><a href=""><i class="fas fa-id-card-alt mr-2"></i>Legislación</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller III</a></li>
                        <li><a href=""><i class="fas fa-chalkboard-teacher mr-2"></i>Optativa III</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Décimo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-folder-open mr-2"></i>Décimo Semestre</a>
                    <ul class="collapse list-unstyled" id="Décimo">
                        <li><a href=""><i class="fas fa-layer-group mr-2"></i>Auditoría Informática</a></li>
                        <li><a href=""><i class="fas fa-code mr-2"></i>Taller III</a></li>
                        <li><a href=""><i class="fas fa-chalkboard-teacher mr-2"></i>Optativa IV</a></li>
                    </ul>
                </li>
            </ul>
      
        </nav>
</div>
    <div class="overlay"></div>
