#galeria{
	position:relative;
	margin:auto;
	width:100%;
	background:white;
}

#galeria ul{
	padding:20px;
}

#galeria ul li{
	padding:10px;
	cursor:pointer;
	transition:.6s;
}

#galeria ul li:hover{
	transition:.6s;
	opacity:.6;
}

#galeria ul li img{
	width:100%;
}

/*=============================================
EFECTO DE MOUSE
=============================================*/

#efectoMouse{
	position:relative;
	width:100%;
	overflow:hidden;
}

#efectoMouse figure{
	position: absolute;
	top:0;
	left:0;
}

/*=============================================
EFECTO DE SCROLL
=============================================*/

#fotoFondo{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-10;
	background: url(../img/slide/slide03.jpg);
	background-size: cover;
}

#scroll{
	padding:40px;
}

#scroll article aside{
	border:1px solid silver;
	margin:10px auto;
	position:relative;
	background:white;
	height:auto;
	overflow: hidden;
}

#scroll article aside img{
	width:100%;
	border:5px solid white;
}

#scroll article aside h1{
	font-size:30px;
	padding:10px 20px;
	color:#666;
}

#scroll article aside p{
	font-size:14px;
	padding:0px 20px;
}

#scroll article aside button{
	float:right;
	margin:20px;
	font-size:12px;
	border:0px;
	background:#333;
	color:white;
	padding:10px 20px;
	cursor:pointer;
}








.content-fluid{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
}

.row{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
}

[class*="col-"]{
	float:left;
	padding:0px;
}

h1.titulos{
	background:white;
	text-align: center;
	color:#666;
	font-weight:100;
}

h1.titulos hr{
	margin:20px;
	border:1px solid #ddd;
}
