<div class="container mt-4">
	<div class="col-7">
       	<form #formSubir="ngForm" (ngSubmit)="nuevoSubir()">
			<div class="form-group">
				<!-- <input type="text" name="semestre" #semestre ="ngModel" class="form-control" [(ngModel)]="itemSubir.semestre" > -->
			    <label for="texto">Seleccione un semestre</label>
			     <select name="semestre" #semestre ="ngModel" class="form-control" [(ngModel)]="itemSubir.semestre" (change)="cambiar()" id="texto">
			     	<option>Seleccione un semestre...</option>
   					<option *ngFor="let sem of semestres" [value]="sem">{{sem}}</option>
				</select>
			</div>
			<div class="form-group">
			    <label for="exampleFormControlSelect1">Seleccione una materia...</label>
			    <select  class="form-control" #materia ="ngModel" [(ngModel)]="itemSubir.materia" name="materia">
   					<option *ngFor="let mat of materias" [value]="mat">{{mat}}</option>
				</select>
				<!-- <input type="text" name="materia" #materia ="ngModel" class="form-control" [(ngModel)]="itemSubir.materia" > -->

		  	</div>
		  	<div class="form-group">
			    <label for="exampleFormControlTextarea1">Descripción</label>
			    <textarea   name="descripcion" #descripcion ="ngModel" class="form-control" [(ngModel)]="itemSubir.descripcion" class="form-control" id="descripcion" rows="3"></textarea>
		  	</div>
		  	<div class="form-group">
			    <label for="exampleFormControlFile1">Seleccione un archivo</label>
			    <input type="file" class="form-control-file" id="archivo" (change)="seleccionImagen( $event.target.files[0] )">
	  		</div>
			<button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-primary">Subir</button>
		</form>
	</div>
</div>