<div class="container mt-3">
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" placeholder="Buscar usuario">
			</div>
		</div>
	</div>
</div>
</div>



<div class="container">
	<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">
		  Registrar usuario
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Complete todos los campos</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       	<form ngNativeValidate [formGroup]="forma" id="form">
					  <div class="form-group">
					    <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre" required  placeholder="Nombre">
					  </div>
					  <div class="form-group">
					    <input formControlName="apellido" name="apellido"type="text" class="form-control" id="apellido" required placeholder="Apellido">
					  </div>
					  <div class="form-group">
				      <input formControlName="ru" name="ru" type="text" class="form-control" id="ru" required placeholder="R.U.">
				    </div>
					  <div class="form-group">
				      <input formControlName="user" name="user" type="text" class="form-control" id="user" required placeholder="Usuario">
				    </div>
					  <div class="form-group">
				      <input formControlName="password" name="password" required type="password" class="form-control" id="password" placeholder="Contraseña">
				    </div>
				    <div class="form-group">
				      <label for="rol">Rol</label>
				      <select formControlName="rol" name="rol" id="rol" class="form-control">
				        <option>Estudiante</option>
				        <option>Docente</option>
				        <option>Administrador</option>
				      </select>
				    </div>
					</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary" (click)="registrarUsuario()" [disabled]="!forma.valid">Registrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	<div class="row col-12 mt-3 justify-content-around">

<div class="col-12">
	<h3 class="card-title"> Usuarios registrados</h3>
	<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>N°</th>
		      <th>Nombre</th>
		      <th>Apellido</th>
		      <th>R.U.</th>
		      <th>Usuario</th>
		      <th>Rol</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let usuario of usuarios; let myIndex = index">
		    <td>
		    	{{myIndex + 1}}
		    </td>
		    <td>
		    	{{usuario.nombre}}
		    </td>
		     <td>
		    	{{usuario.apellido}}
		    </td>
		     <td>
		    	{{usuario.ru}}
		    </td>
		     <td>
		    	{{usuario.user}}
		    </td>
		     <td>
		    	{{usuario.rol}}
		    </td>	
		   
		    <td>
		    	<!-- <button class="btn btn-primary"> <i class="fa fa-save"></i></button> -->
		    	<button (click)="borrarUsuario(usuario)"class="btn btn-danger"><i class="fas fa-trash"></i></button>
		    </td>
		    </tr>
		  
		  </tbody>
</table>
</div>

</div>
</div>