<div class="container">
	<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">
		  Registrar usuario
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Complete todos los c</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       	<form ngNativeValidate [formGroup]="forma">
					  <div class="form-group">
					    <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre" required  placeholder="Nombre">
					  </div>
					  <div class="form-group">
					    <input formControlName="apellido" name="apellido"type="text" class="form-control" id="apellido" required placeholder="Apellido">
					  </div>
					  <div class="form-group">
				      <input formControlName="ru" name="ru" type="text" class="form-control" id="ru" required placeholder="R.U.">
				    </div>
					  <div class="form-group">
				      <input formControlName="user" name="user" type="text" class="form-control" id="user" required placeholder="Usuario">
				    </div>
					  <div class="form-group">
				      <input formControlName="password" name="password" required type="password" class="form-control" id="password" placeholder="Contraseña">
				    </div>
				    <div class="form-group">
				      <label for="rol">Rol</label>
				      <select formControlName="rol" name="rol" id="rol" class="form-control">
				        <option selected>Estudiante</option>
				        <option>Docente</option>
				        <option>Administrador</option>
				      </select>
				    </div>
					</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary" (click)="registrarUsuario()" [disabled]="!forma.valid">Registrar</button>
		      </div>
		    </div>
		  </div>
		</div>

	<div class="row col-12 mt-3 justify-content-around">
	
		
	

					<!-- <div class=" col-md-6">
						
						<form>
						  <div class="form-group">
						    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
						  </div>
						  <div class="form-group">
					      <input type="text" class="form-control" id="ru" placeholder="R.U.">
					    </div>
						  <div class="form-group">
					      <input type="text" class="form-control" id="usuario" placeholder="Usuario">
					    </div>
						  <div class="form-group">
					      <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
					    </div>
					    <div class="form-group">
					      <label for="rol">Rol</label>
					      <select id="rol" class="form-control">
					        <option selected>Estudiante</option>
					        <option>Docente</option>
					      </select>
					    </div>
					    <button type="submit" class="btn btn-primary">Registar</button>
						</form>
					</div> -->
<div class="col-9">
	<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">N°</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">Usuario</th>
		      <th scope="col">Contraseña</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		    </tr>
		  </tbody>
</table>
</div>

</div>
</div>