<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light bg-dark">
      
        
    
        <div class="navbar-collapse">
           
            <ul class="navbar-nav mr-auto">
               
                <button type="button" id="sidebarCollapse" class="btn btn-info">Biblioteca</button>
                
            </ul>
            
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> 
                    <form class="app-search"><input type="text" class="form-control" placeholder="Buscar"> <a class="srh-btn"></a> </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Herramientas</a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li><a routerLink="/pagina-principal/registro">Ver usuarios</a></li>
                            <li><a href="">Cerrar Sesion</a></li>
                            
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
