<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light bg-primary">
      

        <div class="navbar-collapse">
           
            <ul class="navbar-nav mr-auto">
               
                <button type="button" id="sidebarCollapse" class="btn btn-primary"><i class="fas fa-align-justify mr-1"></i>Biblioteca</button>
                
            </ul>
            
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> 
                    <form class="app-search"><input type="text" class="form-control" placeholder="Buscar"> <a class="srh-btn"></a> </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light mr-3" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Herramientas</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/home/registro"><i class="fas fa-users mr-3"></i>Usuarios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/login"><i class="fas fa-power-off mr-3"></i>Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
