.btn btn-info {
    box-shadow: none;
    outline: none !important;
    border: none;
    position: fixed;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 0.4;
}
 #sidebarCollapse{
    padding-left: 30px;
    padding-right: 26px;
    cursor: pointer;
    font-size: 35px;
    color: white;
}
#sidebarCollapse:hover{
    background-color: #a287f4;
    border-radius: 3px;
}